<header>
  <h1>ZT ASSESSMENT</h1>
  <div>
    <div class="messageSetting">
      <button><img src="assets/headerIcons/message.png" alt="#" /></button>
      <button><img src="assets/headerIcons/setting.png" alt="#" /></button>
    </div>
    <div class="searchProfilePower">
      <button><img id="search" src="assets/headerIcons/search.png" alt="#" /></button>
      <button><img src="assets/headerIcons/person.png" alt="#" /></button>
      <button><img src="assets/headerIcons/power.png" alt="#" /></button>
    </div>
  </div>

</header>