header {
  min-width: 100%;
  max-width: 100%;
  min-height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  background-color: var(--clr-dark);
  color: #FFF;
}


h1 {
  color: #FFF;
  font-weight: 900;
  margin-left: 1em;
}



.messageSetting {
  display: inline;
  margin-right: 2em;
}

.searchProfilePower {
  display: inline;
  margin-right: 1em;
}

button {
  display: inline;
  background: none;
  border: none;
}

button {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}