ul {
  list-style: none;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 1.2em;
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
  border-bottom: 1px solid black;
}

ul li img {
  width: 1rem;
  margin-right: 1em;
}

li:nth-child(4) {
  background-color: var(--clr-dark);
  color: white;
}


#cross {
  color: red;
  text-align: right;
  cursor: pointer;
}