#saveButton {
  position: absolute;
bottom: -10em;
right: 6em;
max-width: 7rem;
max-height: 5rem;
}

img {
  cursor: pointer;
}

.options {
  max-width: 2rem;

  margin: 1em 1em 0em 1em;
}

.options-container {
  min-width: 14%;
  max-height: 30%;
  position: absolute;
  right: 0;
}

.printViewBurger {
  position: absolute;
  right: 1;
}