#saveButton {
  position: absolute;
  bottom: 2em;
  right: 2em;
  max-width: 7rem;
  max-height: 5rem;
}

.options {
  max-width: 2rem;
  float: right;
  margin: 1em 1em 0em 1em;
}

body {
  min-height: 100vh;
}