.sidebarContainer {
  position: relative;
  background-color: red;
  color: red;
  max-height: 80%;
}


ul {
  margin-top: 3rem;
  list-style: none;
}


.sideBar {
  height: 85%;
  width: 6%;
  float: left;
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 2;
}


.expanded {
  overflow: hidden;
  width: 23%;
  max-height: 84%;
  background-color: white;
  border: 2px solid black;
  border-bottom: 0;
  border-radius: 0 4em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -20%;
  z-index: 1;
  display: block;
}

.sideBar-headings {
  color: var(--clr-dark);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  width: 80%;
  height: 100%;
}

button:active {
  background-color: var(--clr-medium);
}

img {
  width: 100%;

}

td {
  cursor: pointer;
}

.commonInteractionComponents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-height: 40%;
  padding: 0;

}





.expandCaron {
  font-size: 2rem;
}

.commonInteractionComponents img {
  width: 44%;
  margin: 0.2em 0.3em;
  cursor: pointer;
  height: 4rem;
}

p img {
  max-width: 1em;
}