<div class="sideBar">
  <button><img src="assets/sideBarIcons/Items.png" alt=""></button>
  <button><img src="assets/sideBarIcons/Tests.png" alt=""></button>
  <button><img src="assets/sideBarIcons/TestTakers.png" alt=""></button>
  <button><img src="assets/sideBarIcons/Groups.png" alt=""></button>
  <button><img src="assets/sideBarIcons/Deliveries.png" alt=""></button>
  <button><img src="assets/sideBarIcons/Results.png" alt=""></button>
</div>

<div class="sideBar expanded" *ngIf="expanded">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, labore.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, labore.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, labore.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, labore.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, labore.</p>
</div>