.card{
    box-sizing: border-box;
    position: absolute;
    width: 709px;
    height: 400px;
    left: 380px;
    top: 150px;
    background: #FFFFFF;
    border: 3px solid #0C747E;
    border-radius: 20px;
}

.card-header{
    position: absolute;
    left: 380px;
    top: 150px;
    width: 720px;
    height: 35px;
    background: #0C747E;
    border-radius: 20px 20px 0px 0px;
}



.header-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding-left: 20px;
}

span {
    margin-left: 18rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

span img {
    margin-left: 10px;
    /* font-size: 10px; */
}

.prompt {
    box-sizing: border-box;
    position: absolute;
    width: 658px;
    height: 31px;
    left: 410px;
    top: 202px;
    color: #83C5BE;
    border: 1px solid #095057;
}

.left{
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 232px;
    left: 400px;
    top: 250px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.right{
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 232px;
    left: 772px;
    top: 250px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.card-bottom {
    margin-top: 20px;
    margin-left: 380px;
    position:absolute;
    top: 550px;
    height: 100px;
    border-radius: 15px;
    border: 2.2px solid #0C747E;
}

.text-icons {
    font-size: 14px;
    font-weight: 600;
    color: #0C747E;
    margin: 0 0 0 20px;
}

.text-icons span img {
    margin-left: 20rem;
    font-size: 12px;
}

.symbol img {
    margin-left: 9.5px;
    margin-bottom: 30px;
    position: relative;
    bottom: 5px;
}

.texts{
    position: relative;
    bottom: 10px;
}

.symbol{
    position: relative;
    bottom: 5px;
}

#cross{
    position: absolute;
    top: 30px;
}

.left ul li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 10px;
    position: relative;
    top: 30px;
}

.left ul li img{
    padding-right: 20px;
    height: 16px;
}

.deleteicon{
    position: absolute;
    left: 80.16%;
    right: 48.91%;
    top: 10%;
    bottom: 59.31%;
    cursor: pointer;
}

.choice{
    text-decoration: none;
    cursor: pointer;
    margin: 5px 0 0 115px;
    color: #0C747E;
    font-weight: 600;
    border: 2px dashed #0C747E;
    border-radius: 20px;
    padding-left: 10px;
    width: 140px;
    height: 35px;
    position: absolute;
    width: 140px;
    height: 35px;
    top: 150px;
    left: -90px;
}

.content2{
    box-sizing: border-box;
    position: absolute;
    width: 720px;
    height: 300px;
    left: 380px;
    top: 140px;
    background: #FFFFFF;
    border: 3px solid #0C747E;
    border-radius: 20px;
}

.card-header-1{
    position: absolute;
    width: 715px;
    height: 35px;
    background: #0C747E;
    border-radius: 20px 20px 0px 0px;
}

.prompt-1{
    box-sizing: border-box;
    position: absolute;
    width: 680px;
    height: 31px;
    left: 15px;
    top: 50px;
    color: #83C5BE;
    border: 1px dashed #095057;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #0C747E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.left-1{
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 130px;
    left: 20px;
    top: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.right-1{
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 130px;
    left: 390px;
    top: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.autosave{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 670px;
    top: 250px;
    background: #0C747E;
    border: 2px solid #0C747E;
    border-radius: 10px;
    cursor: pointer;
}

.isymbol{
   height: 60%;
   padding-right: 3px;
}

.arrowleft{
    height: 40px;
    position: absolute;
    left: 48.07%;
    right: 43.12%;
    top: 44.82%;
    bottom: 53.22%;
}

.left-1 ul li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 5px;
    position: relative;
    top: 10px;
}

.shadedrectangle{
    height: 10px;
    padding-right: 10px;
}

.autosave1{
    background: #0C747E;
    border: 2px solid #0C747E;
    border-radius: 10px;
    position: absolute;
    left: 1030px;
    top: 500px;
    cursor: pointer;
}