<!-- 1st Screen -->
<div class="container" *ngIf="Condition1" ng-app="">
   <div class="card" style="width: 45rem;"></div>
   <div class="card-header">
      <p class="header-title">ORDER-INTERACTION
         <span>QUESTION  | RESPONSE | <a type="button" (click)="dismissbox()"><img src="./assets/delete.png"></a></span></p>
   </div>
   <div class="card-body">
      <div class="row mt-1">
         <!-- <p> -->
         <input type="text" name="inputprompt" placeholder="Define Prompt" class="prompt" ng-model="inputprompt" [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'} || styleFour && {'text-align':'left'} || styleFive && {'text-align':'right'}">
         <!-- </p> -->
      </div>
      <div class="left">
         <ul style="list-style-type:none;">
            <li  *ngIf="delete1">
               <img src="./assets/Icons/ellipse.png">
               Choice 1 
            <a (click)="deleteicon1()">
               <img src="./assets/deletegreen.png" class="deleteicon">
            </a>
            </li>
            <li *ngIf="delete2">
               <img src="./assets/Icons/ellipse.png">
               Choice 2 
            <a (click)="deleteicon2()">
               <img src="./assets/deletegreen.png" class="deleteicon">
            </a>
            </li>
            <li *ngIf="delete3">
               <img src="./assets/Icons/ellipse.png">
               Choice 3
            <a (click)="deleteicon3()">
               <img src="./assets/deletegreen.png" class="deleteicon">
            </a>
            </li>

            <li *ngIf="delete4">
               <img src="./assets/Icons/ellipse.png">
               Choice 4
            <a (click)="deleteicon4()">
               <img src="./assets/deletegreen.png" class="deleteicon">
            </a>
            </li>
         </ul>
         <a type="button" class="choice" *ngIf="choicebox" (click)="addChoice()"><img src="./assets/Icons/add.png" height="12px"> Add
            Choice</a>
         </div>
      <div class="right">

      </div>
   </div>
</div>

<!-- Symbols -->
<div class="cardBottomBox" *ngIf="bottomSymbol">
   <div class="card-bottom" style="width: 45rem;">
   <div class="card-body">
      <div class="text-icons">
         <p class="texts">
         <span>
         <a type="button"><img src="./assets/Icons/cross.png" height="12px" id="cross" (click)="dismiss()"></a>
         </span><br>
         EDIT TEXT
         </p>

         <div class="symbol">
         <a type="button" (click)="boldText()"><img src="./assets/Icons/bita.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button" (click)="italicText()"><img src="./assets/Icons/italic.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button" (click)="underlineText()"><img src="./assets/Icons/underline.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/icon5.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/icon4.png" height="20px"></a>
         <img src="./assets/Icons/Line 7.png" height="30px">
         <a type="button"><img src="./assets/Icons/icon6.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/gallery.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/music.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/icon3.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/icon2.png" height="20px"></a>
         <img src="./assets/Icons/Line 7.png" height="30px">
         <a type="button"><img src="./assets/Icons/icon1.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/normal.png" height="20px"></a>
         <img src="./assets/Icons/Line 7.png" height="30px">
         <a type="button" (click)="Dash1()"><img src="./assets/Icons/dash1.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button" (click)="Dash2()"><img src="./assets/Icons/dash2.png" height="20px"></a>
         <img src="./assets/Icons/Line 12.png" height="20px">
         <a type="button"><img src="./assets/Icons/icon7.png" height="30px"></a>
         <a type="button"><img src="./assets/Icons/arrow.png" height="20px"></a>
         </div>
      </div>
   </div>
   </div>
</div>
<a (click)="screen2()">
<img src="./assets/Vector.png" class="autosave1" *ngIf="autosave">
</a>

<img id="saveButton" src="assets/SaveButton.png" alt="" *ngIf="savebtn">


<!-- 2nd Screen -->
<div class="content2" *ngIf="Condition2">
   <div class="card-header-1">
      <p class="header-title">ORDER-INTERACTION
         <span>QUESTION  | RESPONSE | <a type="button" (click)="invisiblebox()"><img src="./assets/delete.png"></a></span></p>
   </div>
   <div class="card-body">
      <div class="row mt-1">
         <p class="prompt-1" ng-bind="inputprompt">
            <img src="./assets/Icons/symbol.png" class="isymbol">
            Please define the correct order in the box to the right
         </p>
      </div>
      <div class="left-1">
         <ul style="list-style-type: none;">
            <li *ngIf="choice1">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 1
            </li>
            <li *ngIf="choice2">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 2
            </li>
            <li *ngIf="choice3">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 3
            </li>
            <li *ngIf="choice4">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 4
            </li>
         </ul>
      </div>
      <img src="./assets/Icons/arrowleft.png" class="arrowleft">
      <div class="right-1">

      </div>
   <a (click)="screen3()">
      <img src="./assets/Vector.png" class="autosave">
   </a>
   </div>
</div>

<img id="saveButton1" src="assets/SaveButton.png" alt="" *ngIf="savebtn1">

<!-- 3rd Screen -->
<div class="content2" *ngIf="Condition3">
   <div class="card-header-1">
      <p class="header-title">ITEM 1
   </div>
   <div class="card-body">
      <div class="left-1">
         <ul style="list-style-type: none;">
            <li *ngIf="choice1">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 1
            </li>
            <li *ngIf="choice2">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 2
            </li>
            <li *ngIf="choice3">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 3
            </li>
            <li *ngIf="choice4">
               <img src="./assets/Icons/shadedrectangle.png" class="shadedrectangle">
               CHOICE 4
            </li>
         </ul>
      </div>
      <img src="./assets/Icons/arrowleft.png" class="arrowleft">
      <div class="right-1">

      </div>
   </div>
</div>

