/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --clr-light: #FFFFFF;
  --clr-medium: #83C5BE;
  --clr-dark: #0C747E;
  --clr-white:#fff;
  font-family: Roboto;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100%;
}

button {
  cursor: pointer;
}